<div class="kd-namespace-select-title">{{::$ctrl.i18n.MSG_NAMESPACE}}</div>
<md-input-container class="kd-namespace-select-input-container">
  <md-select ng-model="$ctrl.selectedNamespace"
      md-on-open="$ctrl.loadNamespacesIfNeeded()"
      md-on-close="$ctrl.changeNamespace()"
      class="kd-namespace-select"
      aria-label="{{::$ctrl.i18n.MSG_NAMESPACE_SELECT_ARIA_LABEL}}"
      md-container-class="kd-namespace-select-container"
      md-selected-text="$ctrl.formatNamespace()">
    <md-option ng-value="::$ctrl.ALL_NAMESPACES" class="kd-namespace-select-all">
      {{::$ctrl.i18n.MSG_ALL_NAMESPACES}}
    </md-option>
    <md-optgroup label="{{::$ctrl.i18n.MSG_NAMESPACE_LIST_LABEL}}"
        class="kd-namespace-select-namespace-list">
      <md-option ng-value="namespace" ng-repeat="namespace in $ctrl.namespaces">
        {{::namespace}}
      </md-option>
    </md-optgroup>
  </md-select>
</md-input-container>
