# Do not include the Docker build pipeline itself.
aio/docker/gulp-in-docker/Dockerfile
aio/scripts/run-gulp-in-docker.sh

# Ignore all development artifacts so that the build is always clean.
.git
.tmp/
.tools/
dist/
node_modules/
