{
  // This file contains root configuration for ESLint. Its rules may be overriden in a specific
  // folder (e.g., tests) by placing .eslintrc in it. 
  // All lint rules should be placed here unless they do not apply to entire JavaScript codebase.
  // For example, indentation rules should be here (applies to all JS files), but Protractor
  // should not (applies only to integration tests files).

  // Base rules on recommended ESLint settings.
  // TODO(bryk): Determine whether there is a better base config.
  "extends": "eslint:recommended",
  "env": {
    // Enables all ES6 features except modules.
    "es6": true,
  },
  "ecmaFeatures": {
    // Enable ES6 modules to have all language features covered.
    "modules": true,
  },
  "rules": {
    // Require dangling comma at the end of any  multiline list/object. This is to be consistent
    // with backend code.
    "comma-dangle": [2, "always-multiline"],
    // Force using === and !=== except when comparing to null. This is to prevent from bugs that
    // come from automatic type conversion in == operator and to be consistent across the codebase.
    "eqeqeq": [2, "allow-null"],
    // Disallow trailing spaces. This is to unify code because editors may have different
    // settings.
    "no-trailing-spaces": 2,
    // Disallow modifying constant variables.
    "no-const-assign": 2,
    // Force using 'let' or 'const' instead of 'var'. This is to prevent from var hoisting bugs.
    "no-var": 2,
    // Require semicolons in every place they are valid. This is to prevent from automatic
    // semicolon insertion bugs.
    "semi": [2, "always"],
    // Disallow setting strict mode in files. All JS code in the project uses ES6 modules so is
    // implicitly strict.
    "strict": [2, "never"],
    // No spacing in object literals nor in imports/exports.
    "object-curly-spacing": [2, "never"],
  },
}
