## Local copies of dependencies that should stay on developers' local machines
node_modules/

## Build and test artifacts
.go_workspace/
.sass-cache/
.tmp/
.tools/
dist/
coverage/

## System specific files
# macOS
.DS_Store

## IDE specific files
# IntelliJ
.idea/
*.iml
# Vi
*.swp
