# Local copies of dependencies that should stay on developers' local machines.
node_modules/

# Build and test artifacts.
.go_workspace/
.sass-cache/
.tmp/
.tools/
dist/
coverage/

# System specific files.
.DS_Store

# IDE specific files.
.idea/
*.iml
*.swp

# npm debug log.
npm-debug.log
