<kd-info-card>
  <kd-info-card-section name="{{::$ctrl.i18n.MSG_DEPLOYMENT_DETAIL_DETAILS_SUBTITLE}}">
    <kd-info-card-entry title="{{::$ctrl.i18n.MSG_DEPLOYMENT_DETAIL_NAME_LABEL}}">
      <kd-middle-ellipsis
              display-string="{{::$ctrl.deployment.objectMeta.name}}">
      </kd-middle-ellipsis>
    </kd-info-card-entry>
    <kd-info-card-entry title="{{::$ctrl.i18n.MSG_DEPLOYMENT_DETAIL_NAMESPACE_LABEL}}">
      {{::$ctrl.deployment.objectMeta.namespace}}
    </kd-info-card-entry>
    <kd-info-card-entry title="{{::$ctrl.i18n.MSG_DEPLOYMENT_DETAIL_LABELS_LABEL}}">
      <kd-labels labels="::$ctrl.deployment.objectMeta.labels"></kd-labels>
    </kd-info-card-entry>
    <kd-info-card-entry title="{{::$ctrl.i18n.MSG_DEPLOYMENT_DETAIL_LABEL_SELECTOR_LABEL}}">
      <kd-labels labels="::$ctrl.deployment.selector"></kd-labels>
    </kd-info-card-entry>
    <kd-info-card-entry title="{{::$ctrl.i18n.MSG_DEPLOYMENT_DETAIL_STRATEGY_LABEL}}">
      {{::$ctrl.deployment.strategy}}
    </kd-info-card-entry>
    <kd-info-card-entry title="{{::$ctrl.i18n.MSG_DEPLOYMENT_DETAIL_MIN_READY_LABEL}}">
      {{::$ctrl.deployment.minReadySeconds}}
    </kd-info-card-entry>
    <kd-info-card-entry title="{{::$ctrl.i18n.MSG_DEPLOYMENT_DETAIL_REVISION_HISTORY_LABEL}}">
      <span ng-if="::$ctrl.deployment.revisionHistoryLimit">
        {{::$ctrl.deployment.revisionHistoryLimit}}
      </span>
      <span ng-if="::!$ctrl.deployment.revisionHistoryLimit">
        {{::$ctrl.i18n.MSG_DEPLOYMENT_DETAIL_REVISION_HISTORY_NOT_SET_LABEL}}
      </span>
    </kd-info-card-entry>

    <kd-info-card-entry title="{{::$ctrl.i18n.MSG_DEPLOYMENT_DETAIL_ROLLING_STRATEGY_LABEL}}"
                        ng-if="$ctrl.rollingUpdateStrategy()">
      {{::$ctrl.i18n.getMaxSurgeLabel()}},
      {{::$ctrl.i18n.getMaxUnavailableLabel()}}
    </kd-info-card-entry>

    <kd-info-card-entry title="{{::$ctrl.i18n.MSG_DEPLOYMENT_DETAIL_STATUS_LABEL}}">
      {{::$ctrl.i18n.MSG_DEPLOYMENT_DETAIL_REPLICAS_UPDATED_LABEL}},
      {{::$ctrl.i18n.MSG_DEPLOYMENT_DETAIL_REPLICAS_TOTAL_LABEL}},
      {{::$ctrl.i18n.MSG_DEPLOYMENT_DETAIL_REPLICAS_AVAILABLE_LABEL}},
      {{::$ctrl.i18n.MSG_DEPLOYMENT_DETAIL_REPLICAS_UNAVAILABLE_LABEL}}
    </kd-info-card-entry>
  </kd-info-card-section>
</kd-info-card>
