.kd-env-vars-wrapper {
    padding: 16px;
    
    .kd-filter {
      width: 100%;
      max-width: 480px;
      margin-bottom: 16px;
    }
  
    .kd-env-vars-table {
      width: 100%;
      
      .mat-cell {
        padding: 8px 16px;
        word-break: break-word;
      }
      
      .mat-header-cell {
        padding: 8px 16px;
        font-weight: 500;
      }
    }
  }
  