{namespace i18n.deploy.userhelp}

/**
 * User help for the app name.
 */
{template .appName}
  {msg desc="Explains the purpose of the app name field in the deploy form"}
    An 'app' label with this value will be added to the Replica Set and Service that get deployed.
  {/msg}
{/template}
