{
  "rules": {
    // Disable undefined variable checking. Extern files often use global variables.
    "no-undef": 0,
    // Disable unused variable checking. Extern functions always have unused variables.
    "no-unused-vars": 0,
    // Disable JSDoc validation. Extern functions do not have valid JSDoc.
    valid-jsdoc: 0,
  }
}
