@import '../../variables';

.kd-download-dialog {
  display: grid;
  grid-template-columns: $baseline-grid 50 * $baseline-grid $baseline-grid;
  grid-gap: 2 * $baseline-grid;
  grid-auto-rows: minmax(2 * $baseline-grid, auto);
}

.kd-download-progress {
  padding-top: .5 * $baseline-grid;
}

.kd-download-progress-bar {
  margin-top: $baseline-grid;
  grid-column: 2;
  grid-row: 2;
}

.kd-download-info {
  grid-column: 2;
  grid-row: 1;
}

.kd-download-buttons {
  grid-column: 2;
  grid-row: 3;

  .md-button {
    margin-left: 0;
    margin-bottom: 2 * $baseline-grid;
  }
}
