# Copyright 2017 The Kubernetes Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI / Web
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
permissions:
  contents: read
jobs:

  check:
    name: Static Check
    runs-on: ubuntu-latest
    env:
      NG_CLI_ANALYTICS: ci
      NODE_OPTIONS: "--max-old-space-size=8192"
      TERM: xterm
    defaults:
      run:
        working-directory: modules/web
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 16.15.0
      - run: yarn
      - run: node hack/version.mjs
      - run: yarn check

  unit:
    name: Unit tests with coverage
    runs-on: ubuntu-latest
    env:
      NG_CLI_ANALYTICS: ci
      NODE_OPTIONS: "--max-old-space-size=8192"
      TERM: xterm
    defaults:
      run:
        working-directory: modules/web
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 16.15.0
      - run: yarn
      - run: node hack/version.mjs
      - run: yarn coverage
      - uses: codecov/codecov-action@v3
        with:
          name: web-coverage
          files: ./modules/web/coverage/clover.xml, ./modules/web/coverage/lcov.info
          fail_ci_if_error: true
          move_coverage_to_trash: true
          verbose: true
