# Copyright 2017 The Kubernetes Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI
on:
  push:
    branches: [master]
    paths-ignore:
      - "**/*.md"
  pull_request:
    branches: [master]
    paths-ignore:
      - "**/*.md"
  schedule:
    - cron: "0 0 * * 1"
permissions:
  contents: read
env:
  GOPATH: /home/runner/go/
  GOPROXY: "https://proxy.golang.org"
  NG_CLI_ANALYTICS: ci
  NODE_OPTIONS: "--max-old-space-size=8192"
  TERM: xterm
jobs:
  dependency-review:
    name: Dependency review
    if: github.event_name == 'pull_request'
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/dependency-review-action@v4
        with:
          fail-on-severity: critical

  codeql-analysis:
    name: CodeQL analysis
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        language: ["go", "typescript"]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5.3.0
        with:
          go-version-file: modules/api/go.mod
          check-latest: true
      - uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}
      - uses: github/codeql-action/autobuild@v3
      - uses: github/codeql-action/analyze@v3

  static-check:
    name: Static check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5.3.0
        with:
          go-version-file: modules/api/go.mod
          check-latest: true
      - uses: actions/setup-node@v4
        with:
          node-version: 18.14.0
      - working-directory: modules/web
        run: yarn
      - run: PATH=$PATH:$GOPATH/bin make check

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5.3.0
        with:
          go-version-file: modules/api/go.mod
          check-latest: true
      - working-directory: modules/web
        run: yarn
      - run: PATH=$PATH:$GOPATH/bin make build

  build-image:
    name: Build image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: make image

  publish:
    name: Build and push API container
    if: github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]' # not a fork and not dependabot
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Docket meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/kubernetes/dashboard-api
            docker.io/kubernetesui/dashboard-api
          tags: |
            type=sha
            type=ref,event=pr
            type=ref,event=branch
            type=semver,pattern={{version}},value=${{ needs.prepare.outputs.new_release_version }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.4.0
      - name: set up Docker Buildx
        uses: docker/setup-buildx-action@v3.9.0
        with:
          config: .github/buildkitd.toml
      - name: Login to Docker
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKER_RELEASE_USER }}
          password: ${{ secrets.DOCKER_RELEASE_PASS }}
      - name: Login to GHCR
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        id: push
        uses: docker/build-push-action@v6
        with:
          context: modules
          file: modules/api/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            VERSION=${{ steps.meta.outputs.version || 'latest' }}

  unit-tests:
    name: Unit tests with coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5.3.0
        with:
          go-version-file: modules/go.work
          check-latest: true
      - uses: actions/setup-node@v4
        with:
          node-version: 18.14.0
      - working-directory: modules/web
        run: yarn
      - run: PATH=$PATH:$GOPATH/bin make coverage
      - uses: codecov/codecov-action@v5.3.1
        with:
          directory: ./.tmp
          token: ${{ secrets.CODECOV_TOKEN }}

# TODO: needs to be fixed
#  e2e-tests:
#    name: End-to-end tests
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v4
#        with:
#          fetch-depth: 0
#      - uses: helm/kind-action@v1.9.0
#        with:
#          node_image: kindest/node:v1.32.0
#      - uses: actions/setup-go@v5.3.0
#        with:
#          go-version-file: modules/api/go.mod
#          check-latest: true
#          cache-dependency-path: modules/api/go.sum
#      - working-directory: modules/api
#        run: go mod download
#      - uses: actions/setup-node@v4
#        with:
#          node-version: 18.14.0
#      - working-directory: modules/web
#        run: yarn
#      - run: PATH=$PATH:$GOPATH/bin make serve &
#      - run: yarn cypress
#        working-directory: modules/web
